node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# amplify
amplify_outputs.json
amplify_outputs.mjs
amplify_outputs.ts
amplify_outputs.dart
amplifyconfiguration.json
.amplify-internal/
.amplify-hosting/
cdk.out/
amplify-anthonyrlarsonui-*/

.env.production
